body{
    background-color:bisque;
    margin: 0px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fo{
    margin-top: 10px;
    width: 40%;
    height: 600px;
    display: flex;
}

.kek{
    background-color: aqua;
    width: 40%;
    height: 80px;
    margin-bottom: -10px;
}

.barna{
    background-color:orange;
    flex-grow: 1;
}

.piros{
    margin-left: 40px;
    margin-right: 40px;
    background-color: red;
    flex-grow: 7;
}

.lila{
    background-color: purple;
    flex: 1;
}

.sotetkek{
    background-color: blue;
    width: 40%;
    height: 80px;
   
}

.fekete{
    background-color: black;
    width: 40px;
    height: 40px;
    margin-left: 90%;
   
}